# Arquivos temporários
*.tmp
*.bak
*.log
*~

# Arquivos de compilação
obj/
bin/
debug/
release/

# Outros arquivos
*.o
*.a
*.lib

# Arquivos gerados pelo sistema
*.swp
*.cache

# Arquivos do vscode
*.vscode/
