# Arquivos temporários
*.tmp
*.bak
*.log
*~

# Arquivos de compilação
obj/
output/
bin/
debug/
release/

# Outros arquivos
*.o
*.a
*.lib

# Arquivos gerados pelo sistema
*.swp
*.cache

#Arquivos vscode
.vscode/
